<div class="card" (click)="toggleUnits()">
  <div class="card-header" [class.invisible]="!weatherDataReceived">
    <div class="row">
      <div class="col-sm-8">
        <p>{{ currentLocationName }}</p>
      </div>
      <div class="col-sm-4 text-sm-right">
        <h1>{{weather.temperature | tempUnit: currentTempUnit | number:'.0-0'}}&deg;</h1>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div id="loader" [hidden]="weatherDataReceived">
      <i class="fa fa-refresh fa-spin fa-4x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
    <canvas id="icon" [hidden]="!weatherDataReceived"></canvas>
    <p>{{weather.summary}}</p>
  </div>
  <div class="card-footer" [class.invisible]="!weatherDataReceived">
    <div class="row">
      <div class="col-sm-5">
        <p>Wind</p>
        <p>{{weather.wind | speedUnit: currentSpeedUnit }}</p>
      </div>
      <div class="col-sm-5 offset-sm-2">
        <p>Humidity</p>
        <p>{{weather.humidity | percent }}</p>
      </div>
    </div>
  </div>
</div>
